/**
* 作品：mixin.less
* 更新：2017年12月14日
* 简介：1. 一个基于 Less 的样式工具库，封装了常用 mixin，帮助您更轻松地书写 Less 代码。
*       2. 只在调用时才输出代码，减少代码冗余，避免样式污染
*       3. 不自带兼容前缀，减少代码量，而建议采用工具生成，如 postcss、Autoprefixer、less-plugin-autoprefix 等
*       4. 附带 IE 各类 Hack
*/
/*-------------------------------------
├   布局                              ┆
└------------------------------------*/
.justify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-v {
  flex-direction: column;
}
/*-------------------------------------
├   字体                              ┆
└------------------------------------*/
/*-------------------------------------
├   图像                              ┆
└------------------------------------*/
/*-------------------------------------
├   动效                              ┆
└------------------------------------*/
/*-------------------------------------
├   功能                              ┆
└------------------------------------*/
/*-------------------------------------
├   图形                              ┆
└------------------------------------*/
/*-------------------------------------
├   组件                              ┆
└------------------------------------*/
